APP_NAME="CHMSU OSIS - Online Student Information Sheet"
APP_ENV=local #local #production
APP_KEY=base64:Mw+JUo8c898yqoQZxLSqSsAN6O+4dvl3a8MQey6oLYY=
APP_DEBUG=true
APP_URL=http://localhost:8000  #http://localhost:8000 #https://osis.testing.chmsu.edu.ph

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=osis #osis #syndicateadmin_osis_testing
DB_USERNAME=root #root #syndicateadmin_osis_testing
DB_PASSWORD=

TAL_DB_HOST=136.158.184.122
TAL_DB_PORT=3306
TAL_DB_DATABASE=admission
TAL_DB_USERNAME=ict
TAL_DB_PASSWORD=%%ChM$u@Dm1n**

ALI_DB_HOST=210.213.125.90
ALI_DB_PORT=3306
ALI_DB_DATABASE=admission
ALI_DB_USERNAME=mis
ALI_DB_PASSWORD=P@33w0rd

FT_DB_HOST=122.55.216.26
FT_DB_PORT=3306
FT_DB_DATABASE=admission
FT_DB_USERNAME=mis1
FT_DB_PASSWORD=hc56mWQBRN7U

BIN_DB_HOST=103.107.83.3
BIN_DB_PORT=3306
BIN_DB_DATABASE=admission
BIN_DB_USERNAME=root
BIN_DB_PASSWORD=!!p@33w0rd

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS=hello@example.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

GOOGLE_CLIENT_ID=643682481149-bl10qh9334i6a8k08mdsciuk159p1nei.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback

GOOGLE_DRIVE_FOLDER_ID=0AN2qbz8s0FzSUk9PVA
GOOGLE_APPLICATION_CREDENTIALS=storage/app/google/service-account.json